.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: pointer;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

.tab-heading {
    border: 1px solid;
    padding: 15px;
    border-radius: 25px;
    font-size: 15px;
}

.active {
    background-color: #013ADF;
    color: #FFFFFF;
}

.tab-component {
    margin: 1rem;
}

.form {
    border: 1px solid;
    margin-top: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}

.form-group input {
    width: 97%;
    height: 25px;
    border: 1px solid #6b7385;
    border-radius: 3px
}

input::placeholder {
    color: #6b7385;
    padding: 2px;
}

.primary-details-input label {
    color: #000000CC;
}

.radio-fields {
    display: flex;
    gap: 2rem;
}

.radio-field {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

select.selectOption {
    width: 100%;
    height: 29px;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}


